body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


/* iframe */
iframe {

}

iframe:before {
  background: #ddd;
  height: 20px;
  width: 100%;
}



.browser {
  background: white;
  position: relative;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);

  max-width: 900px;
  transition: all 400ms ease-in-out;
}

.browser.mod-width-mobile {
  max-width: 375px;
}

.browser-window {
  border: 0;
  width: 100%;
  height: 500px;
  border-radius: 0 0 5px 5px;
  border: 2px solid #ccc;
  border: 2px solid #42b983;
  border-top: none;
}

.browser-window iframe {
  border: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  border-radius: 0 0 5px 5px;
}


.browser-top {
  background: #ccc;
  background: #42b983;

  width: 100%;
  border-radius: 5px 5px 0 0;
  display: block;
  padding: 4px 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.browser-omnibox {
  background: white;
  /*
  border: 1px solid #aaa;
  border: 1px solid #2f9467;
  */
  border-radius: 2px;
  line-height: 1.2;
  font-size: 12px;
  padding: 4px 5px;
  width: 100%;

  margin: 0 7px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.browser-omnibox-icon {
  margin: 0 5px;
  display: inline-block;
  background: transparent;
  border: none;
  box-shadow: none;
  outline-color: white;
  cursor: pointer;
}

.browser-omnibox-icon svg {
  width: 18px;
  height: 18px;
  margin-top: 6px;
}

.browser-omnibox-icon svg path {
  fill: #fff;
}


.browser-omnibox-icon.mod-back,
.browser-omnibox-icon.mod-forward,
.browser-omnibox-icon.mod-refresh
{
  cursor: default;
}
.browser-omnibox-icon.mod-back svg path,
.browser-omnibox-icon.mod-forward svg path,
.browser-omnibox-icon.mod-refresh svg path
{
  fill: rgba(255,255,255,.3);
  cursor: default;
}



.browser-omnibox-icon.mod-width-mobile svg {
  width: 20px;
  height: 20px;
  margin-top: 4px;
}

@media (max-width: 500px) {
  .browser-omnibox-icon.mod-width-mobile {
    display: none;
  }
}


.browser-omnibox-icon.mod-width-mobile svg path {
  fill: rgba(255,255,255,.6);
}

.browser-omnibox-icon.mod-width-mobile.mod-active svg path {
  fill: rgba(255,255,255,.95);
}


.browser-omnibox-icon.mod-external svg path
{
  fill: #fff;
}

.browser-omnibox-icon.mod-external svg {
  width: 20px;
  height: 20px;
  margin-top: 6px;
}



/* site-outer-wrapper */
.site-outer-wrapper {

}



  /* site-wrapper */
  .site-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding-top: 50px;
  }
  @media(max-width: 1240px) {
    .site-wrapper {
      max-width: 900px;
    }
  }

  @media(max-width: 960px) {
    .site-wrapper {
      max-width: none;
    }
  }




    /* site-nav-place-holder */
    .site-nav-place-holder {
      width: 300px;
      flex: 0 0 300px;
    }

    @media(max-width: 960px) {
      .site-nav-place-holder {
        display: none;
      }
    }






  /* content-wrapper */
  .content-wrapper {
    width: 100%;
    max-width: 900px;
  }

  @media(max-width: 1240px) {
    .content-wrapper {
      max-width: 600px;
    }
  }

  @media(max-width: 960px) {
    .content-wrapper {
      max-width: none;
    }
  }


    /* content */
    .content {
      padding: 40px;
      padding-right: 20px;
    }

    @media(max-width: 960px) {
      .content {
        padding: 20px;
      }
    }


    .content-footer {
      border-top: 1px solid #eee;
      margin-top: 40px;
      padding: 40px 40px 40px 40px;
    }

    @media(max-width: 960px) {
      .content-footer {
        padding: 20px 20px 20px 20px;
      }
    }


    .content-footer p {
      margin: 0;
      padding: 0;
      line-height: 1.2;
      font-size: 15px;
      font-weight: 400;
      color: rgba(0,0,0,.8);
    }

    .content-footer a {
      margin: 0;
      padding: 0;
      line-height: 1.2;
      font-size: 15px;
      font-weight: 500;
      color: rgba(0,0,0,1);
      text-decoration: none;
    }









  /* hamburger */

  .hamburger {
    font: inherit;
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding: 2px 4px;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity,filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;

    backface-visibility: hidden;
  }


  .hamburger-box {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 12px;
  }


  .hamburger-inner {
    top: 50%;
    display: block;
    margin-top: -1px;

  }

  .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    position: absolute;
    width: 20px;
    height: 2px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: #333;
    background-color: #fff;
    background-color: rgba(255,255,255,.8);
  }

  .hamburger .hamburger-inner, .hamburger .hamburger-inner:after, .hamburger .hamburger-inner:before {
    background-color: #555;
    background-color: #333;
    background-color: #fff;
    background-color: rgba(255,255,255,.8);
  }

  .hamburger.mod-active .hamburger-inner, .hamburger.mod-active .hamburger-inner:after, .hamburger.mod-active .hamburger-inner:before {
    background-color: #222;
    background-color: #333;
    background-color: rgba(255,255,255,.8);
  }


  .hamburger-inner:after, .hamburger-inner:before {
    display: block;
    content: "";
  }

  .hamburger-inner:before {
    top: -5px;
  }

  .hamburger-inner:after {
    bottom: -5px;
  }


  /* start arrow anim */
  /*

  .hamburger.mod-active .hamburger-inner:before {
    transform: translate3d(-4px,0,0) rotate(-45deg) scaleX(.7);
  }

  .hamburger.mod-active .hamburger-inner:after {
    transform: translate3d(-4px,0,0) rotate(45deg) scaleX(.7);
  }
  */

  /* end arrow anim */





  /* start cross anim */

  .hamburger .hamburger-inner {
    transition-timing-function: cubic-bezier(.55,.055,.675,.19);
    transition-duration: 200ms;
  }
  .hamburger .hamburger-inner:before {
    transition: top 200ms ease 200ms, opacity 100ms ease;
  }
  .hamburger .hamburger-inner:after {
    transition: bottom 200ms ease 200ms, transform 200ms cubic-bezier(.55,.055,.675,.19);
  }



  .hamburger.mod-active .hamburger-inner {
    transition-delay: 100ms;
    transition-timing-function: cubic-bezier(.215,.61,.355,1);
    transform: rotate(45deg);
  }

  .hamburger.mod-active .hamburger-inner:before {
    top: 0;
    transition: top 200ms ease, opacity 100ms ease 100ms;
    opacity: 0;
  }

  .hamburger.mod-active .hamburger-inner:after {
    bottom: 0;
    transition: bottom 200ms ease, transform 200ms cubic-bezier(.215,.61,.355,1) 100ms;
    transform: rotate(-90deg);
  }

  /* end cross anim */





  /* topbar-wrapper */
  .topbar-wrapper {
    width: 100%;
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;

    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);


    /*background: rgba(255,255,255,.9);*/



    /*border-bottom: 1px solid #eee; */
    background: #42b983;
  }







  /* topbar */
  .topbar {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0 20px;
    box-sizing: border-box;

  }
  @media(max-width: 1240px) {
    .topbar {
      max-width: 900px;
    }
  }
  @media(max-width: 960px) {
    .topbar {
      max-width: none;
    }
  }



    .topbar-section {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;
    }


    .topbar-hamburger {
      -webkit-appearance: none;
      background: transparent;
      border: none;
      box-shadow: none;
      margin: 0;
      padding: 14px 5px 14px 5px;
      cursor: pointer;
      outline-color: #ddd;
      margin-right: 5px;
      margin-left: -7px;
    }

    @media(min-width: 960px) {
      .topbar-hamburger {
        display: none;
      }
    }


    .topbar-title {
      display: inline-block;
      font-size: 17px;
      font-weight: 600;
      line-height: 1.4;
      margin-top: 13px;

      /*
      padding: 6px 12px;
      background: #333;
      background: #42b983;
      border-radius: 4px;
      */

      color: rgba(255,255,255,1);
    }

    .topbar-title > span:nth-of-type(1) {
      font-weight: 400;
      color: rgba(255,255,255,.8);
    }

    .topbar-title > span:nth-of-type(2) {
      font-weight: 500;
      color: rgba(255,255,255,.6);
    }

    .topbar-title > span:nth-of-type(3) {
    color: rgba(255,255,255,1);
    }


    @media (max-width: 960px) {
      .topbar-title > span:nth-of-type(1) {
        display: none;
      }
      .topbar-title > span:nth-of-type(2) {
        display: none;
      }
    }




    .topbar-badge-link {
      display: inline-block;
      margin-top: 16px;

    }
    .topbar-badge-link img {
      border-radius: 2px;
      transition: all 140ms ease-in-out;
      /*filter: grayscale(100%);*/
    }
    .topbar-badge-link:hover img {
      /*filter: grayscale(0%);*/
    }

    @media (max-width: 960px) {
      .topbar-badge-link {
        display: none;
      }
    }

    .topbar-icon-link {
      display: inline-block;
      margin-left: 15px;
      margin-top: 16px;

    }

    .topbar-icon-link svg {
    }


    .topbar-icon-link.mod-github svg {
      width: 20px;
      height: 20px;
    }
    .topbar-icon-link.mod-github svg path {
      fill: rgba(255,255,255,.6);
      transition: all 80ms ease-in-out;
    }
    .topbar-icon-link.mod-github:hover svg path {
      fill: rgba(255,255,255,1);
    }


    .topbar-icon-link.mod-npm svg {
      width: 20px;
      height: 20px;
    }


    .topbar-icon-link.mod-npm svg path {
      fill: #42b983;
    }

    .topbar-icon-link.mod-npm svg rect {
      fill: rgba(255,255,255,.6);
      transition: 80ms ease-in-out;
    }

    .topbar-icon-link.mod-npm:hover svg rect {
      fill: white;
    }










  /* nav */

  .nav-backdrop-fade-enter-active, .nav-backdrop-fade-leave-active {
    transition: opacity .5s;
  }
  .nav-backdrop-fade-enter, .nav-backdrop-fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }

  .nav-backdrop {
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
  }
  html.mod-js-parsing .nav-backdrop {
    display: none;
  }
  @media (min-width: 960px) {
    .nav-backdrop {
      display: none;
    }
  }

















  /* nav-wrapper */
  .nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    backface-visibility: hidden;
    z-index: 10;

    //pointer-events: none;

  }

    @media(max-width: 960px) {
      .nav-wrapper {
        //pointer-events: auto;

        position: static;
      }
    }










  .nav-inner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    width: 100%;
    height: 1px;
  }

  @media(max-width: 1240px) {
    .nav-inner {
      max-width: 900px;
    }
  }

  @media(max-width: 960px) {
    .nav-inner {
      max-width: none;
      width: auto;
      height: auto;
      display: block;

    }
  }












    .nav-site-place-holder {
      height: 1px;
      width: 100%;
      //pointer-events: none;
    }

    @media(max-width: 1240px) {

    }

    @media(max-width: 960px) {
      .nav-site-place-holder {
        display: none;
      }

    }













  .nav-content {
    //pointer-events: auto;
    height: 100%;
    height: 100vh;
    width: 300px;
    flex: 0 0 300px;
    box-sizing: border-box;
    background: white;
     /*background: #f1f1f1; */ /* chrome scrollbar background color */
    border-right: 1px solid #eee;

    /*box-shadow: 1px 0 3px rgba(0,0,0,0.06), 1px 0 2px rgba(0,0,0,0.12);*/

    padding-top: 50px;

  }
  @media(max-width: 1240px) {
    .nav-content {
    }
  }
  @media(max-width: 960px) {
    .nav-content {

      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      backface-visibility: hidden;
      z-index: 10;

      /*
      border-right: none;
      box-shadow: 1px 0 3px rgba(0,0,0,0.06), 1px 0 2px rgba(0,0,0,0.12);
      */

      transition: transform 400ms cubic-bezier(0.7, 0, 0.07, 1);
      transform: translateX(-100%);
    }
    .nav-content.mod-active {
      transform: translateX(0%);

    }
  }



    .nav-content-inner {
      height: 100%;
      width: 100%;
      overflow-y: auto;
      overflow-x: hidden;
    }


    @media(max-width: 960px) {

    }

      .nav-content-inner-inner {
        padding: 20px;
      }
        @media(min-width: 960px) {
          .nav-content-inner-inner {
          }
        }



      .nav-content-index {

      }


      .nav-content-index p,
      .nav-content-index h1,
      .nav-content-index h2,
      .nav-content-index h3,
      .nav-content-index h5,
      .nav-content-index h6
      {
        font-size: 15px;
        line-height: 1.2;
        margin: 0;
        padding: 0;
        font-weight: 400;
        color: rgba(0,0,0,.9);
      }





      .nav-content-index p {
        font-size: 14px;
        font-weight: 400;
        color: rgba(0,0,0,.9);
        margin-bottom: 10px;
      }




      .nav-content-index h1 {
        font-size: 18px;
        font-weight: 600;
        color: rgba(0,0,0,1);
        margin-top: 20px;
        margin-bottom: 20px;
      }

      .nav-content-index h2 {
        font-size: 16px;
        font-weight: 500;
        color: rgba(0,0,0,1);
        margin-top: 20px;
        margin-bottom: 20px;
      }

      .nav-content-index h3 {
        font-size: 15px;
        font-weight: 400;
        color: rgba(0,0,0,.8);
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .nav-content-index h4 {
        font-size: 14px;
        font-weight: 400;
        color: rgba(0,0,0,1);
        margin-top: 10px;
        margin-bottom: 10px;
      }




      .nav-content-index  a {
        text-decoration: none;
        color: inherit;
      }

      .nav-content-index ul {
        list-style-type: none;
        list-style-position: inside;
        margin: 0;
        padding: 0;
      }

      .nav-content-index li {
        list-style-type: none;
        list-style-position: inside;
        margin: 0;
        padding: 0;

      }

      .nav-content-index ul > li > ul {
        padding-left: 10px;
      }
