<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic information -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Site information -->
  <title>Vue Overlays</title>
  <meta name="description" content="Vue Overlays">

  <!-- Favicon -->

  <!-- Stylesheets -->
  <link rel="stylesheet" href="./site/css/example.css">

  <!-- Vue -->
  <script src="./site/vue-2.5.16.js"></script>

  <!-- Vue Overlays -->
  <script src="./dist/index.js"></script>

  <!-- Normalize Styles -->
  <link rel="stylesheet" href="./site/normalize.css" />

  <!-- Site Styles -->
  <link rel="stylesheet" href="./site/site.css" />


</head>
<body>

  <!-- Vue App -->
  <div id="app-wrapper">
    <div id="app">

      <header>
        <h1>Vue Overlays</h1>
        <p>Portal, Modal, Popover.</p>

        <p>$data.daySeconds: {{daySeconds}}</p>
        <p>$data.count: {{count}}</p>
        <p>$data.showPopover1: {{showPopover1}}</p>
        <p>$data.showPopover1b: {{showPopover1b}}</p>
        <p>$data.showPopover2: {{showPopover2}}</p>
        <p>$data.showPopover3: {{showPopover3}}</p>
        <p>$data.modalOpen1: {{modalOpen1}}</p>
        <p>$data.modalOpen2: {{modalOpen2}}</p>
        <p>$data.modalOpen3: {{modalOpen3}}</p>
        <p>$data.modalOpen4: {{modalOpen4}}</p>
        <p>$data.showPortal: {{showPortal}}</p>
        <p>._portalContainer: {{this._portalContainer ? this._portalContainer.nodeName : 'undefined' }}</p>

        <button type="button" @click="count++">count + 1</button>

      </header>






      <section class="section">
        <h2>Popover Debug</h2>

        <button type="button" @click="showPopover1=true" ref="popoverAnchor1">
          Show Popover 1 (anchor-el)
        </button>

        <button type="button" @click="showPopover1b=true" ref="popoverAnchor1b">
          Show Popover 1b (anchor-el)
        </button>

        <button type="button" @click="popover2BtnClick">
          Show Popover 2 (anchor-position + event)
        </button>

        <button type="button" @click="showPopover3=true">
          Show Popover 3 (anchor-position)
        </button>


        <Popover
          :popover-style="{boxShadow: '0 2px 5px 0 rgba(0,0,0,.2)', borderRadius:'5px'}"
          v-if="showPopover1"
          @close="showPopover1=false"
          :anchor-el="$refs.popoverAnchor1"
          :transform-origin="{vertical: 'center', horizontal: 'center'}"
          :anchor-origin="{vertical: 'center', horizontal: 'center'}"
        >
          <div style="background:white;width:400px;padding:5px;box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);">
            Hello World, I'm a Popover 1. <br>
            <p>$data.daySeconds: {{daySeconds}}</p>
            <button type="button" @click="count++">count + 1</button> <code>$state.count: {{count}}</code> <br>
            <button type="button" @click="showPopover1=false">
              Hide Popover 1
            </button>
          </div>
        </Popover>



        <Popover
          v-if="showPopover1b"
          @close="showPopover1b=false"
          :anchor-el="$refs.popoverAnchor1b"
          :transform-origin="{vertical: 'bottom', horizontal: 'left'}"
          :anchor-origin="{vertical: 'top', horizontal: 'left'}"
          :modal-props="{backdropInvisible: false,}"
        >
          <div style="background:white;width:400px;padding:5px;box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);">
            Hello World, I'm a Popover 1b. <br>
            <p>$data.daySeconds: {{daySeconds}}</p>
            <button type="button" @click="count++">count + 1</button> <code>$state.count: {{count}}</code> <br>
            <button type="button" @click="showPopover1b=false">
              Hide Popover 1
            </button>
          </div>
        </Popover>


        <Popover
          :popover-style="{boxShadow: '0 2px 5px 0 rgba(0,0,0,.2)', borderRadius:'5px'}"
          v-if="showPopover2"
          @close="showPopover2=false"
          :anchor-reference="'anchor-position'"
          :anchor-position="popover2Pos"
          :transform-origin="{vertical: 'center', horizontal: 'center'}"
        >
          <div style="background:white;width:400px;padding:5px;box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);">
            Hello World, I'm a Popover 2. <br>
            <p>$data.daySeconds: {{daySeconds}}</p>
            <button type="button" @click="count++">count + 1</button> <code>$state.count: {{count}}</code> <br>
            <button type="button" @click="showPopover2=false">
              Hide Popover 2
            </button>
          </div>
        </Popover>



        <Popover
          :popover-style="{boxShadow: '0 2px 5px 0 rgba(0,0,0,.2)', borderRadius:'5px'}"
          v-if="showPopover3"
          @close="showPopover3=false"
          :anchor-reference="'anchor-position'"
          :anchor-position="{top: 50, left: 50}"
          :transform-origin="{vertical: 'left', horizontal: 'left'}"
        >
          <div style="background:white;width:400px;padding:5px;box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);">
            Hello World, I'm a Popover 3. <br>
            <p>$data.daySeconds: {{daySeconds}}</p>
            <button type="button" @click="count++">count + 1</button> <code>$state.count: {{count}}</code> <br>
            <button type="button" @click="showPopover3=false">
              Hide Popover 3
            </button>
          </div>
        </Popover>





      </section>







      <section class="section">
        <h2>Modal Debug</h2>



        <h3>Modal:</h3>
        <div>

          <button type="button" @click="modalOpen1=!modalOpen1">Toggle Modal 1</button>
          <button type="button" @click="modalOpen2=!modalOpen2">Toggle Modal 2</button>
          <button type="button" @click="modalOpen3=!modalOpen3">Toggle Modal 3</button>
          <button type="button" @click="modalOpen4=!modalOpen4">Toggle Modal 4</button>

          <Modal v-if="modalOpen1" @close="modalOpen1=false">
            <div tabindex="-1" :style="getModalStyle(1)">

              <h4>MODAL 1!</h4>
              <p>$data.daySeconds: {{daySeconds}}</p>
              <button type="button" @click="count++">count + 1</button> <code>$state.count: {{count}}</code> <br>
              <button type="button" @click="modalOpen2=!modalOpen2">Toggle Modal 2</button>

              <Modal v-if="modalOpen2" @close="modalOpen2=false" >
                <div :style="getModalStyle(2)">

                  <h4>MODAL 2!</h4>
                  <p>$data.daySeconds: {{daySeconds}}</p>
                  <button type="button" @click="count++">count + 1</button> <code>$state.count: {{count}}</code> <br>
                  <button type="button" @click="modalOpen3=!modalOpen3">Toggle Modal 3</button>

                  <Modal v-if="modalOpen3" @close="modalOpen3=false">
                    <div :style="getModalStyle(3)">

                      <h4>MODAL 3!</h4>
                      <p>$data.daySeconds: {{daySeconds}}</p>
                      <button type="button" @click="count++">count + 1</button> <code>$state.count: {{count}}</code> <br>
                      <button type="button" @click="modalOpen4=!modalOpen4">Toggle Modal 4</button>

                    </div>
                  </Modal>

                </div>
              </Modal>

            </div>
          </Modal>


          <Modal v-if="modalOpen4" @close="modalOpen4=false">
            <div :style="getModalStyle(4)">

              <h4>MODAL 4!</h4>
              <p>$data.daySeconds: {{daySeconds}}</p>
              <button type="button" @click="count++">count + 1</button> <code>$state.count: {{count}}</code> <br>
              <button type="button" @click="modalOpen1=!modalOpen1">Toggle Modal 1</button>

            </div>
          </Modal>

        </div>

      </section>



      <section class="section">
        <h2>Portal Debug</h2>

        <button type="button" @click="showPortal=!showPortal">
          Toggle Portal
        </button>

        <button type="button" @click="togglePortalContainer">
          Toggle Portal Container
        </button>

        <h3>Portal original position in DOM:</h3>
        <div >
          <Portal v-if="showPortal" @rendered="onRendered" :container="this._portalContainer">
            <div class="portal-content">
              Portal Content <code>$state.count: {{count}}</code>
            </div>
          </Portal>
        </div>

        <h3>Portal custom DOM container:</h3>
        <div class="js-custom-container"></div>

      </section>


    </div>
  </div>


  <!-- Site Script -->
  <script src="./site/site.js"></script>

</body>
</html>
