body {
  font-family: 'segoe ui', sans-serif;
  background: #222;
}

#app-wrapper {
  margin: 20px auto;
  max-width: 1200px;
}

#app {
  padding: 10px 30px;
  background: #eee;
}

.section {
  background: #ddd;
  padding: 20px;
  margin: 20px 0;
}

.portal-content {
  background: white;
  border: 2px solid blue;
  display: inline-block;
}
